body {
    font-family: Arial, sans-serif;
    background-image: url('/home/devasc/labs/devnet-src/mapquest/static/images.jpeg'); /* Path to your background image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the image */
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: auto;
    background: rgba(255, 255, 255, 0.9); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

h1 {
    text-align: center;
    color: #333;
}

h4 {
    margin-bottom: 10px; /* Adjust the spacing as needed */
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin: 10px 0; /* Add margin for spacing between inputs */
    border: 1px solid #ccc;
    border-radius: 4px;
}


button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#results {
    margin-top: 20px;
}

.directions {
    margin-top: 10px;
    padding-left: 20px;
}

.direction-item {
    margin: 5px 0;
    font-size: 14px;
    color: #333;
}
